# Get ids from the dataset

In [1]:
import pandas as pd
import requests
from tqdm.notebook import tqdm

In [2]:
dialect_df = pd.read_csv('dialect_dataset.csv')

In [3]:
dialect_df

                         id dialect
0       1175358310087892992      IQ
1       1175416117793349632      IQ
2       1175450108898565888      IQ
3       1175471073770573824      IQ
4       1175496913145217024      IQ
...                     ...     ...
458192  1019484980282580992      BH
458193  1021083283709407232      BH
458194  1017477537889431552      BH
458195  1022430374696239232      BH
458196  1022409931029458944      BH

[458197 rows x 2 columns]

In [4]:
dialect_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458197 entries, 0 to 458196
Data columns (total 2 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       458197 non-null  int64
 1   dialect  458197 non-null  object
dtypes: int64(1), object(1)
memory usage: 7.0+ MB

### Convert 'id' column to string

In [5]:
dialect_df['id'] = dialect_df['id'].astype(str)

# Fetch the tweets from the API

In [6]:
API_URL = 'https://recruitment.aimtechnologies.co/ai-tasks'

In [7]:
tweets = {} # initialize tweets dictionary to save fetched data
len_df = len(dialect_df)
for start_index in tqdm(range(0, len_df, 1000)): # split ids into chunks (max_size = 1000)
    end_index = start_index + 1000
    if end_index > len_df:
        ids = list(dialect_df['id'].iloc[start_index:len_df].values)
    else:
        ids = list(dialect_df['id'].iloc[start_index:end_index].values)
    # fetch the data from the api by POST request
    response = requests.post(API_URL, json=ids)
    # append the result to tweets dictionary
    tweets.update(response.json())

HBox(children=(HTML(value=''), FloatProgress(value=0.0, max=459.0), HTML(value='')))

In [10]:
# create new column contains tweets
dialect_df['tweet'] = dialect_df['id'].apply(tweets.get)

In [12]:
dialect_df

,id,dialect,tweet
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº
...,...,...,...
458192,1019484980282580992,BH,@Al_mhbaa_7 Ù…Ø¨Ø³ÙˆØ·ÙŠÙ† Ù…Ù†Ùƒ Ø§Ù„Ù„ÙŠ Ø¨Ø§Ø³Ø·Ø§Ù†Ø§ğŸ˜…
458193,1021083283709407232,BH,@Zzainabali @P_ameerah ÙˆØ§Ù„Ù„Ù‡ Ù…Ø§ÙŠÙ†Ø¯Ù‡ Ø§Ø¨Ø´ ÙŠØ®ØªÙŠ
458194,1017477537889431552,BH,@Al_mhbaa_7 Ø´Ùˆ Ø¹Ù…Ù„Ù†Ø§ Ù„Ùƒ Ø­Ù†Ø§ ØªÙ‡Ø±Ø¨ÙŠ Ù…Ù†Ù†Ø§ Ø§Ø­Ù†Ø§ Ù…Ø³...
458195,1022430374696239232,BH,@haneenalmwla Ø§Ù„Ù„Ù‡ ÙŠØ¨Ø§Ø±Ùƒ ÙÙŠÙ‡Ø§ ÙˆØ¨Ø§Ù„Ø¹Ø§ÙÙŠÙ‡ ğŸ˜‹ğŸ˜‹ğŸ˜‹
458196,1022409931029458944,BH,@jolnar121 Ø§Ù„Ø³Ø­Ù„Ù‡ Ø¶ÙŠÙÙŠ ÙŠ Ø¨ØªØ·Ù„Ø¹ Ù„Ùƒ Ø³Ø­Ù„ÙŠÙ‡ğŸ˜…ğŸ˜…

# Save the full dataset

In [13]:
dialect_df.to_csv('fetched_dataset.csv', index=False)